# Project exclude paths
/.gradle/
/app/build/
/app/build/intermediates/javac/debug/compileDebugJavaWithJavac/classes/
/EmptyState/build/
/EmptyState/build/intermediates/javac/debug/compileDebugJavaWithJavac/classes/